@{
    ViewData["Title"] = "HomePage";
}
<html>
<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        @*        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        *@
        <br />
        <br />
        <h1 style=" color:#022b07">Innovate Farming</h1>
        
        <h5 style=" color:#022b07">&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Farmer's best friend</h5>
        @*        </div>
        *@
    </section><!-- End Hero -->
    <main id="main">

        
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row content">
                    <div class="col-lg-6" >
                        <h2>About us</h2>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Innovate Farming is a collective thought of our organisation's minds.
                        </p>
                        <p>
                            farmers are the backbone of our country and we can observe that they are the ones who are most suffering .
                            Farmers are looking for good deals on their yeilds, fertilizers, seed, crop protection and so on.
                            They will keep an eye out to cut unnecessary costs.
                            If possible, they'll take a do-it-yourself approach to the bulk of their farm tasks
                            farmers are more likely to use generic inputs and look to show prices online. They are not likely early adopters of technology or anything that last a long-term payback.
                            They are also more likely to be hands on in farm decisions or activities.
                            Suppliers and traders are also looking for techniques through which they can avoid middle man intervention and improve their profit margins.
                        </p>
                        
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
       
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch"  >
                        <div class="content">
                            <h3>Why Choose Innovate Farming ?</h3>
                            <p>
                                <ul>
                                    <li>
                                        Better exposure to the market rates.
                                    </li>
                                    <li>
                                        Avoid middle man intervention
                                    </li>
                                    <li>
                                        Keeping track of the products sold and bought.
                                    </li>
                                    <li>
                                        Get guidance on cultivation of crops.
                                    </li>
                                    <li>
                                        Filtering out services based on user requirements
                                    </li>
                                </ul>
                               
                            </p>
                        </div>
                    </div>
                    
                </div>

            </div>
        </section><!-- End Why Us Section -->
       
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="section-title">
                            <h2>Services</h2>
                            <p>Innovate Farming is a platform which assists famer,supplier and fertilizer traders and help them
                            to improve their businesses</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="icon-box"  >
                                    <div class="icon"><img style="height:100px;width:160px;" src="~/farmer (1).ico" /></div>
                                    <h4><a href="">Services for Farmer </a></h4>
                                    <p>Farmers can sell their crops and buy products like fertilizers which they require.
                                    <br />Farmers can also get guidance for cultivating crops based on the seasons.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                                <div class="icon-box"  >
                                    <div class="icon">
                                        
                                        <img style="height:100px;width:160px;" src="~/supplier.jpg" />
                                    </div>
                                    <h4><a href="">Services for Suppliers</a></h4>
                                    <p>Suppliers can purchase any kind of products from the farm based on their requirements and from the nearest farmer</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-flex align-items-stretch mt-4">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img style="height:100px;width:160px;" src="~/fertilizer.jpg" />
                                    </div>
                                    <h4><a href="">Services for Traders</a></h4>
                                    <p>Traders can sell and manage their fertilizer stocks</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->
       
       

                               
                       
        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="section-title" >
                            <h2>Team</h2>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="member">
                                    <div class="pic"><img src="" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Abhishek Humagain</h4>
                                        <span>Software Engineer</span>

                                        @*<div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4 mt-lg-0">
                                <div class="member">
                                    <div class="pic"><img src="" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Aadesh Tandukar</h4>
                                        <span>Software Engineer</span>
                                        @*<div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4">
                                <div class="member">
                                    <div class="pic"><img src="" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Sugat MAn Shakya</h4>
                                        <span>Software Engineer</span>
                                       @* <div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mt-4">
                                <div class="member">
                                    <div class="pic"><img src="" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Yunisha Bajracharya</h4>
                                        <span>Software Engineer</span>
                                        @*<div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mt-4">
                                <div class="member">
                                    <div class="pic"><img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
                                    <div class="member-info">
                                        <h4>Aaditi Shrestha</h4>
                                        <span>Software Engineer</span>
                                        @*<div class="social">
                                            <a href=""><i class="ri-twitter-fill"></i></a>
                                            <a href=""><i class="ri-facebook-fill"></i></a>
                                            <a href=""><i class="ri-instagram-fill"></i></a>
                                            <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                        </div>*@
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Team Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4" >
                        <div class="section-title">
                            <h2>Contact</h2>
                            <p>Islington College, Kamal Pokhari<br />Rajan Sah</p>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14968.406651507325!2d85.8245398!3d20.2960587!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc676bf84303b0446!2sMindtree%20Kalinga%20Campus!5e0!3m2!1sen!2sin!4v1615349381991!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <div class="info mt-4">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>Anamnagar, Kathmandu, Nepal  Mitra Marga 250</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 mt-4">
                                <div class="info">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>rsah0987@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="info w-100 mt-4">
                                    <i class="bi bi-phone"></i>
                                    <h4>Call:</h4>
                                    <p>+97 9845374117</p>
                                </div>
                            </div>
                        </div>

                        @*<form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="feedback" rows="5" placeholder="Feedback" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Feedback</button></div>
                        </form>*@
                    </div>
                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

</body>

</html>