@model KisaanSnehiWebApplication.Models.RegistrationModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_FarmerLayout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script>
        $(document).on('click', '.toggle-password', function () {

            $(this).toggleClass("fa-eye fa-eye-slash");

            var input = $("#pass_log_id");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
        });
    </script>

</head>

<section id="Edit" class="d-flex flex-column justify-content-center align-items-center">



    @*<h1>Change Password</h1>

    <hr />*@
    <div class="row" style="margin-left: 28%; margin-right: 20%;">
        <div>
            <h1>Change Password</h1>

            <hr />
        </div>
        <div @*class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"*@>
            <form asp-action="ChangeAdminPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailId" class="control-label" style="font-weight:bold;"></label>
                    : @ViewData["email"]

                    <span asp-validation-for="EmailId" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Password" class="control-label" style="font-weight:bold;"></label>
                    <input id="pass_log_id" type="password"  asp-for="Password" class="form-control" style="width:400px;" name="password" />
                    
                    <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label" style="font-weight:bold;"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" style="width:400px;" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="SecurityQue" class="control-label" style="font-weight:bold;"></label>
                    <select asp-for="SecurityQue" class="form-control" style="width:400px;">
                        <option value="none" selected disabled hidden>
                            select one option
                        </option>
                        <option value="My pet's Name">My pet's Name</option>
                        <option value="My mother's Name">My mother's Name</option>
                        <option value="My Birth place">My Birth place</option>
                    </select>
                    <span asp-validation-for="SecurityQue" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <label asp-for="Answer" class="control-label" style="font-weight:bold;"></label>
                    <input asp-for="Answer" class="form-control" style="width:400px;" />
                    <span asp-validation-for="Answer" class="text-danger"></span>
                </div>
                <br /> <br />
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" style="background-color:forestgreen; color:white;" />

                    <button formaction="@Url.Action("FarmerProfilePage", "FarmerProfile")#Profile" class="btn btn-outline-secondary" >Cancel</button>

                </div>

            </form>

        </div>
    </div>

</section>
@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">

        window.onload = function () {
            debugger;
                alert("@ViewBag.ErrorMessage");
                window.location.href = "FarmerProfilePage";
            };
    </script>

}
