@model KisaanSnehiWebApplication.Models.RegistrationModel

@{
    ViewData["Title"] = "Farmer";
    Layout = "~/Views/Shared/_FarmerLayout.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">

    <div class="hero-container" data-aos="fade-in">
        <img src="~/Profile.png"
             alt="HTML5 Icon" style="width:320px; height:80px; opacity: 0.9;">
        <h4>   </h4>
        <h1>Hi, @Model.Name</h1>
        <p>Welcome to Innovate Farming...</p>
    </div>
</section><!-- End Hero -->
